@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-point: #0033a1ff;
  --color-white: #FFFFFF;
  /* auth */
  
  --auth-beigie-title: rgb(117, 117, 115);
  /* keyboard:  */
  --keyboard-bg: #eeece8ff;
  --keyboard-row-bg: #493823ff;
  
  --key-border-default: #e4e2dbff #ccc4b5ff;
  --key-fill-default: #eeebe1ff;

  --key-border-blue: #648da7ff #3a6986ff;
  --key-fill-blue: #7ea8c2ff;

  --key-border-red: #f29288  #af594fff;
  --key-fill-red: #E2675A;

  --key-pressed-text: #ffffff44;
  --key-pressed-border: #00000010;
  /* typing */
  --color-correct: #3a6986ff;
  --color-wrong: #af594fff;

  --progress-bg:#a1a1a1ff;
  --progress-fill: #7ea8c2ff;

  --typing-line-sub: #6d6d6d;

  --typing-size : 19px;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'Arita';
  src: url('../styles/font/AritaDotumKR-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum';
  src: url('../styles/font/NanumSquare_acEB.ttf') format('truetype');
}
