@import "tailwindcss";


@font-face {
  font-family: 'NanumHuman';
  src: url('/font/NanumHumanRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumHumanBold';
  src: url('/font/NanumHumanBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Libertinus';
  src: url('/font/LibertinusKeyboard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  --background : #F8F8F8;
  --foreground: #171717;
  --color-point: #0033a1ff;
  --color-white: #FFFFFF;

  --tpg-basic-width : 580px;

  /* main */
  --tpg-header-font-size : 0.8rem;
  
  /* progress bar */
  --progress-bg:rgb(73, 73, 73);
  --progress-fill: #7ea8c2ff;

  /* auth */
  --sub-menu-active:#e6e6e6;

  
  --auth-beigie-title: rgb(117, 117, 115);
  /* keyboard:  */
  --keyboard-text: black;
  --keyboard-bg: #fdfdfe;
  --keyboard-row-bg: #b2b7b9;
  --keyboard-border: #ccc;
  
  --key-border-default: rgb(231, 231, 231) rgb(194, 194, 194);
  --key-fill-default: transparent;

  --key-border-blue: rgb(126, 164, 187) rgb(74, 120, 148);
  --key-fill-blue: rgb(141, 179, 202);

  --key-border-red: #f29288  #af594fff;
  --key-fill-red: #e2b6b6;

  --key-pressed-text: #ffffff44;
  --key-pressed-border: #00000010;

  --key-linked-pressed : #e2b6b6;
  --key-linked-fill : #e2b6b6;

  --key-led-red : #e2685a75;
  --key-led-blue: #7ea8c269;

  /* typing */
  --color-basic: rgb(151, 151, 151);
  --color-correct: rgb(0, 0, 0);
  --color-wrong: #e67f74;

  --color-correct-bg: rgba(58, 105, 134, 0.5);
  --color-wrong-bg: rgba(175, 88, 79, 0.493);

  /* friend */
  --cus-friend-delete: var(--color-wrong);
  --cus-friend-accept: rgb(74, 120, 148);

  --typing-line-sub: #6d6d6d;

  --typing-size : 1.1rem;
}

[data-theme='dark'] {
  /* keyboard:  */
  --keyboard-text: white;

  --keyboard-bg: #1e1e1eff;
  --keyboard-row-bg: #2c2c2c;
  --keyboard-border: #d4d5d8;

  --key-border-default: #555555ff #333333ff;
  --key-fill-default: #3a3a3aff;

  --key-border-blue: #50708cff #2e4b5eff;
  --key-fill-blue: #6090b0ff;

  --key-border-red: #b35c5cff #7a3232ff;
  --key-fill-red: #c04444ff;

  --key-pressed-text: #ffffff44;
  --key-pressed-border: #ffffff10;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: NunumHuman, Helvetica, sans-serif;
}



/* layout */
.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  background-color: var(--background);
}

/* page */

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--tpg-header-font-size);
  padding: 0 2px;
}

.title {
  font-family: NunumHumanBold, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

.mainWrapper {
  width: var(--tpg-basic-with);
}